<div class="container">
  <h1>List</h1>
  <div class="row">
    <div class="col-4">
      <p>ゾウ</p>
      <p>くま</p>
      <p>ネコ</p>
      <p>キリン</p>
      <p>イヌ</p>
    </div>
    <div class="col-8">
      <h2>welcome</h2>
      <p>像の上手な作りかた</p>
    </div>
  </div>
</div>