<div class="container">
  <div class="row">
    <div class="col-3 mx-auto mt-3">
     <h1>Welcome!<i class="fa-brands fa-waze"></i></h1>
     <p>To the world of knitting</p>
     <%=link_to "Sign up", new_user_registration_path, class:"btn btn-outline-info" %>
     <%=link_to "Log in", new_user_session_path, class:"btn btn-outline-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto mt-3">
     <%=image_tag "IMG_1450",class: "w-100"%>
    </div>
  </div>
</div>
