<div class="container">
  <div class="row">
    <div class="col">
<h1>Welcome!</h1>
<p>To the world of knitting</p>
<%=link_to "Sign up", new_user_registration_path, class:"btn btn-outline-info" %>
<%=link_to "Log in", new_user_session_path, class:"btn btn-outline-success" %>
</div>
</div>
</div>
